* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .padding {
    padding: 15 !important;
    margin: 10 !important;
 }

#page-container {
    min-height: 100vh;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px; 
    text-align: center;
    color: rgb(53, 53, 53);
}

.btn-secondary {
    background-color: #FFAA5D;
}

.btn-secondary:hover {
    background-color: rgb(233, 4, 4)
}

main {
    padding-bottom: 150px;
}

.navbar {
    background-color: #222;
    border-bottom: 4px solid black;
}

header > h2 {
    color: white;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 5px;
}

ul > li {
    font-size: 1.1rem;
}

.active {
    color: #FFAA5D
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(233, 4, 4)
}

.image-container {
    position: relative;
}

.image-container2 {
    position: relative;
}

.delivery-text > h3{
    position: absolute;
    font-size: 2.5rem;
    font-weight: bold;
    bottom: 45%;
    left: 20%;
    color: black;
}

.delivery-text-span {
    display: block;
    font-size: 1.5rem;
    text-align: left;
}

.about-text > h1{
    position: absolute;
    font-size: 5.5rem;
    font-weight: bold;
    bottom: 50%;
    left: 50%;
    color: #222;

}

.about-informations{
    font-size: 1.5rem;
    text-align: center;
    color:black;
    margin: 5%;
}

.find-form {
    width: 60%;
    margin: 0 auto;
    position: relative;

}

.status {
    margin-top: 15px;
    left: -50;
    text-align: left;
}

.find-package-text {
    margin-top: 40px;
    font-size: 1.6rem;
}

/* .find-submit {
    display: block;
} */

.informations {
    margin-top: 70px;
    text-align: center;
    font-size: 1.2rem;
}

.values{
    margin-top: 70px;
    text-align: left;
    font-size: 1.2rem;
}

.center-block {
    display: block;
    margin: auto;
}

.information-icon {
    display: inline-block;
    font-size: 3.5rem;
    color:#FFAA5D
}
.information-icon:hover{
    color: rgb(233, 4, 4)
}

.information-text{
    display: inline-block;
}


footer {
    height: 150px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #222;
    padding-top: 150px;
    border-top: 3px solid black;

  }

.socials > * {
    padding: 0 5px;

}

.fab {
    color: #FFAA5D;
    font-size: 1.8rem;
    display: block;
}

.fab:hover{
    color: rgb(233, 4, 4)
}

.creators {
    font-size: 1.2rem;
    padding: 10px 0;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .delivery-text > h3{
        font-size: 2.1rem;
    }
    
    .delivery-text-span {
    
        font-size: 1.2rem;
    
    }
    
    .about-text > h1{
        font-size: 4.4rem;
        bottom: 45%;
        left: 50%;
    }
    
    .about-informations{
    
        font-size: 1.2rem;
    
    }
    
    .information-icon {
        font-size: 3rem;
    }
    .find-package-text {
        margin-top: 20px;
        font-size: 1.3rem;
    }
    }

@media only screen and (max-width: 700px) {
.delivery-text > h3{
    font-size: 2.1rem;
}

.delivery-text-span {

    font-size: 1.2rem;

}

.about-text > h1{
    font-size: 3.3rem;
    bottom: 45%;
    left: 50%;
}

.about-informations{

    font-size: 1.2rem;

}

.information-icon {
    font-size: 3rem;
}
.find-package-text {
    margin-top: 20px;
    font-size: 1.3rem;
}
}

@media only screen and (max-width: 540px) {
header > h2 {
    font-size: 2rem;
}
.delivery-text > h3{

    font-size: 1.2rem;
    bottom: 40%;
    left: 20%;
}

.delivery-text-span {

    font-size: 1rem;

}

.about-text > h1{

    font-size: 2.2rem;
    bottom: 45%;
    left: 50%;
}

.about-informations {

    font-size: 1rem;

}

.creators {
    font-size: 1rem;

}
}

@media only screen and (max-width: 340px) {
header > h2 {
    font-size: 1.7rem;
}

.delivery-text > h3{
    font-size: 0.8rem;

}

.delivery-text-span {
    font-size: 0.65rem;

}

.about-text > h1{
    font-size: 1.1rem;
    bottom: 45%;
    left: 50%;

}

.about-informations {
    font-size: 0.65rem;

}

.creators {
    font-size: 1rem;
}
}
