{% extends "layout.html" %}
{% block navbar %}
<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
</ul>
{% endblock %}
{% block content %}
    <div class="image-container">
        <img class="img-fluid main-img" src="{{ url_for('static', filename='img/chlop-main.jpg') }}" alt="chlop w czapie" width="100%"/>
        <div class="about-text">
            <h1>About us</h1>
        </div>
    </div>
    <div class="about-informations text-justify">
                With over 20 years of experience in the courier services industry, 
                Hermes is able to successfully meet the courier delivery needs of the european business community. 
                We pride ourselves in the quality of service we are able to provide to our customers. 
                Some of our most loyal customers have been with us since the very beginning. 
                Start using Hermes for all of your courier services today to experience the difference. 
                Our full-time professional drivers can rapidly be dispatched to deliver every package in a rushed or standard delivery time. 
                We don't use outside contracting services, so you know that every driver has been tested and is highly qualified before delivering any of your packages.
                <br><br>
                We take the extra time to understand our customer's needs in order to provide them with a better service. 
                We can provide your company with customized routes, expedited time-sensitive deliveries, volume discounts, and more. 
                Give us a call today to tell us more about your company and how our services can help your business be more successful.
                <br><br>
    </div>
    <div class="about-informations">
        <h2>Our Values</h2><br />
        <div class="row nopadding">
            <div class="col-md-4 padding">
                <strong>Accountability<br /></strong>
                <span class="information-text">
                    We are accountable for all we do. Team Members take ownership of all their actions.
                </span>
            </div>
            <div class="col-md-4 padding">
                <p><strong>Respect<br /></strong>
                <span class="information-text">
                    Each person is valued for the diversity of his or her skills, experiences and perspectives. We look for the best in everyone and expect to find it.
                </span>
            </div>
            <div class="col-md-4 padding">
                <p><strong>Integrity<br /></strong>
                <span class="information-text">
                    Hermes its foundation for a balanced success on Integrity. We speak with integrity and only say what we mean.
                </span>
            </div>
        </div>
        <div class="row nopadding">
            <div class="col-md-6 padding">
                <strong>Responsibility<br /></strong>
                <span class="information-text">
                    We take our commitments seriously. Accepting responsibility is crucial in our Courier Model. We will meet or exceed our obligations to our customers.
                </span>
            </div>
            <div class="col-md-6 padding">
                <p><strong>Trust<br /></strong>
                <span class="information-text">
                    Trust is the currency of leadership. By our demonstrated behavior, our leaders earn the trust of their Team Members, just as we earn the trust of our customers
                </span>
            </div>
        </div>
    </div>
    <br/>
    <div class="about-informations">
        <strong>Contact:<br /></strong>
        <p>contact@hermers.com</p>
        <p>Marszalkowska 45/49 lok. 44,<br />
        00-648 Warszawa</p>
    </div>				
{% endblock %}