{% extends "layout.html" %}
{% block navbar %}
<ul>
    <li><a href="#track-parcel" class="active" id="track-nav">Track your parcel</a></li>
    <li><a href="{{ url_for('about') }}">About us</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="image-container">
    <img class="img-fluid main-img" src="{{ url_for('static', filename='img/delivery-main-min.jpg') }}" alt="Delivery" />
    <div class="delivery-text">
        <h3>YOU SEND, <span class="delivery-text-span">we deliever.</span></h3>
    </div>
</div>
<div class="package-founder">
    <div class="center-block text-center p-3" id="parcel-form">
        <h4 class="find-package-text">Track your parcel!</h4>
    </div>
    <!-- <div class="form-control"> -->
    <form class="find-form" id="code-form" action="" method="post">
        {{ form.hidden_tag() }}
        {% if form.parcel_code.errors %}
            {{ form.parcel_code(class="form-control is-invalid") }}
            <span class="invalid-feedback">
                Code should be a nine digit number.
            </span>
        {% else %}
            {{ form.parcel_code(class="form-control") }}
        {% endif %}
        {{ form.submit(class_="btn btn-secondary find-submit mx-auto status") }}
    </form>
    <!-- </div> -->

    {% block parcel_info %}{% endblock %}

</div>
<div class="informations">
    <div class="row nopadding">
        <div class="col-md-4 nopadding">
            <i class="fas fa-truck information-icon"></i><br>
            <span class="information-text">
                In 2020 we were rewarded as the fastest delivery company and our service is offered in every european country. 
                We always do our best to deliver your parcels on time.
            </span>
        </div>
        <div class="col-md-4 nopadding">
            <i class="far fa-address-card information-icon "></i><br>
            <span class="information-text">
                Our company employs only verifed people, so we can provide your information will be save with us. 
                Hermes's IT workers nonstop improve cybersecurity in our firm, to protect customers data.
            </span>
        </div>
        <div class="col-md-4 nopadding">
            <i class="fas fa-box-open information-icon "></i><br>
            <span class="information-text">
                We have been present on the market for 20 years, so we have tested methods to store and deliver your parcels save.
                Trust in our service.
            </span>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% block scripts_2 %}{% endblock %}
{% endblock %}