<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hermes - delivery company</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- our style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="page-container d-flex flex-column min-vh-100">
        <nav class="navbar navbar-color">
            <header>
                <h2><a href="{{ url_for('home') }}">Hermes</a></h2>
            </header>
            <div class="nav">
                {% block navbar %}{% endblock %}
            </div>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="navbar-color text-center p-4">
            <div class="creators">&#169 Created by Mateusz Wezdeńko, Miłosz Truszkowski, Wiktor Jóźwik</div>
            <div class="socials">
                <a href="https://gitlab-stud.elka.pw.edu.pl/wjozwik/pap20z-107-web" target="_blank"><i
                        class="fab fa-gitlab"></i></a>
            </div>
        </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- remember scroll position -->
    <script type="text/javascript">
        if (localStorage.getItem("remember-scroll") != null) {
            $(window).scrollTop(localStorage.getItem("remember-scroll"));
        }

        $(window).on("scroll", function () {
            localStorage.setItem("remember-scroll", $(window).scrollTop());
        });
    </script>

    <!-- scripts for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/2d30c9bd33.js" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
</body>

</html>