{% extends "home.html" %}
{% block parcel_info %}
    <div class="card informations" id="parcel-info">

        {% if parcel is not none %}
            {% if parcel.status == 'ON_ROAD' %}
                <span class="card-body">Your parcel is on its way and soon it will be deliviered!</span>
            
            {% elif parcel.status == 'DELIVERED' %}
                <span class="card-body">Your parcel has been already delivered to your house :)</span>
                <div class="col-sm-8 col-md-6 col-xl-4 card center-block mb-4 p-0">
                    <div class="card-header">
                      Delivery Address
                    </div>
                    <ul class="list-group list-group-flush text-left">
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">Country: </b>
                                <div class="col">{{ parcel.client_addr.country }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">City: </b>
                                <div class="col">{{ parcel.client_addr.city }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">Street: </b>
                                <div class="col">{{ parcel.client_addr.street }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">House No.: </b>
                                <div class="col">{{ parcel.client_addr.house_num }}</div>
                            </div>
                        </li>
                        {% if parcel.client_addr.apartment_num is not none %}
                            <li class="list-group-item">
                                <div class="row">
                                    <b class="col">Apartment No.: </b>
                                    <div class="col">{{ parcel.client_addr.apartment_num }}</div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                  </div>
            
            {% elif parcel.status == 'IN_C_POINT' %}
                <span class="card-body">Your parcel is waiting for you in the collection point. Pick it up now!</span>
                <div class="col-sm-8 col-md-6 col-xl-4 card center-block mb-4 p-0">
                    <div class="card-header">
                      Collection Point Address
                    </div>
                    <ul class="list-group list-group-flush text-left">
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">Country: </b>
                                <div class="col">{{ parcel.c_point_addr.country }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">City: </b>
                                <div class="col">{{ parcel.c_point_addr.city }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">Street: </b>
                                <div class="col">{{ parcel.c_point_addr.street }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">House No.: </b>
                                <div class="col">{{ parcel.c_point_addr.house_num }}</div>
                            </div>
                        </li>
                        {% if parcel.c_point_addr.apartment_num is not none %}
                            <li class="list-group-item">
                                <div class="row">
                                    <b class="col">Apartment No.: </b>
                                    <div class="col">{{ parcel.c_point_addr.apartment_num }}</div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                  </div>
            
            {% elif parcel.status == 'IN_WAREHOUSE' %}
                <span class="card-body">Your parcel is currently in a warehouse.</span>
                <div class="col-sm-8 col-md-6 col-xl-4 card center-block mb-4 p-0">
                    <div class="card-header">
                      Warehouse Address
                    </div>
                    <ul class="list-group list-group-flush text-left">
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">Country: </b>
                                <div class="col">{{ parcel.warehouse_addr.country }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">City: </b>
                                <div class="col">{{ parcel.warehouse_addr.city }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">Street: </b>
                                <div class="col">{{ parcel.warehouse_addr.street }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <b class="col">House No.: </b>
                                <div class="col">{{ parcel.warehouse_addr.house_num }}</div>
                            </div>
                        </li>
                        {% if parcel.warehouse_addr.apartment_num is not none %}
                            <li class="list-group-item">
                                <div class="row">
                                    <b class="col">Apartment No.: </b>
                                    <div class="col">{{ parcel.warehouse_addr.apartment_num }}</div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                  </div>
            {% endif %}
        
        {% else %}
            <span class="card-body">Sorry but we couldn't find your parcel.</span>
        {% endif %}

    </div>
{% endblock %}
{% block scripts_2 %}
<script>
    setTimeout(() => {
        document.getElementById("parcel-info").scrollIntoView({ behavior: "smooth" });
    }, 1000);
</script>
{% endblock %}